@media only screen and (max-width: 424px){
    #recent-div{
        gap: 1;
    }
}
@media only screen and (max-width: 755px){
    #div-anime-recent{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 605px){
    #div-anime-recent{
        margin-right: 16.5vw;
    }
}
#div-anime-recent{
    margin-right: 4rem;
}