@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  background-color: rgb(29, 29, 29);
}
::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 0.7vw;

}
::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #000; 
  border-radius: 6px; }